/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-weight: 600;
}

.hero {
    background: url('hero-bg.jpg') center/cover no-repeat;
    height: 100vh;
    color: black;
    text-shadow: 2px 2px 4px rgba(235, 232, 232, 0.6);
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
}

#about img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}



footer {
    background-color: #343a40;
}
